
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Ataque cfrs - Secomp 2017</title>

</head>
<body>

<form id="create-form" class="form-horizontal" role="form" method="POST" 
action="http://localhost:8000/contacts">

<input id="name" type="text" class="form-control" name="name" value="" required>

<input id="email" type="email" class="form-control" name="email" value="" required>

<input id="phone" type="text" class="form-control" name="phone" value="" required>

<input type="submit" value="Criar Contato" class="btn btn-success "/>
    
</form>

</body>
</html>
